{% extends "base.html" %}

{% block title %}
Community
{% endblock %}

{% block nav_title %}
Community
{% endblock %}

{% block content %}
<link href="{{ url_for('static', filename='style/public.css', v=1) }}" rel="stylesheet" />
<!-- Тулзы для поиска -->
<div class="contain">
    <div class="toolsSearch">
        <!-- Тулзы для поиска -->
        <div class="tools">
            <!-- Кнопка с выпадающим меню-->
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-filter"
                         viewBox="0 0 16 16">
                        <path
                                d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                    </svg>
                    По дате добавления
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
        <!-- Конец кнопки -->
        <!-- Строка поиска -->
        <div class="search">
            <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="32" fill="currentColor" class="bi bi-search"
                             viewBox="0 0 16 16">
                            <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                        </span>
                <input type="text" class="form-control" placeholder="Поиск  " aria-label="Username"
                       aria-describedby="basic-addon1">
            </div>
        </div>
        <!-- Конец строки поиска -->
    </div>


  	<!-- Grid сетка-->
  	<div class="containerTags">
        <!-- Grid сетка-->

        {% for i in mems %}
        <div class="col">
            <!-- Это карточка -->
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                     src="{{ i.link }}"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }} {{ i.id }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="{{ url_for('mem', meme_id=i.id) }}" class="btn btn-primary">Go somewhere</a>
                    <form method="POST" action="meme/delete" id="delete_form">
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="hidden" name="id" value="{{ i.id }}" />
                        <button class="btn btn-danger" id="btn_delete" type="submit">Delete</button>
                    </form>
                </div>

                <!-- Это конец карточки -->
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
