{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block nav_title %}
Register
{% endblock %}
{% block content %}
<link href="{{ url_for('static', filename='style/register.css', v=1) }}" rel="stylesheet" />

<div class="container">
    <form method="post" action="/register">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="form-group">
            <p class="text-center">Register in CSDM</p>
        </div>
        <div class="form-group">
            <p for="username" class="text-start" >Username</p>
            <input type="text" class="form-control" name="username" id="username" required="required" maxlength="32">
            <span class="form__error">* This field must contain no more than 32 characters.</span>
        </div>
        <div class="form-group">
            <p for="email" class="text-start">Email</p>
            <input type="email" class="form-control" name="email" id="email" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" minlength="6" >
            <span class="form__error">* This field must contain an E-Mail in the format example@site.com (no less than 6 and no more than 32 characters).</span>
        </div>
        <div class="form-group">
            <p for="Password" class="text-start">Password</p>
            <input type="password" name="password" class="form-control" id="password" required="required" minlength="6" maxlength="32">
            <span class="form__error">* This field must contain at least 6 and no more than 32 characters.</span>
            <p for="password-repeat" class="text-start">Password repeat</p>
            <input type="password" class="form-control" name="password_repeat" id="password-repeat" required="required" minlength="6" maxlength="32">
            <span class="form__error_last">* This field must contain at least 6 and no more than 32 characters.</span>
            <div>
                <div class="button-wrapper">
                    <button class="btn btn-success" name="submit">Register</button>
                </div>
                <a href="{{ url_for('login') }}">Sign in CSDM</a>
            </div>
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='script/register.js', v=1) }}"></script>
{% endblock %}