* {
    padding: 0px;
    margin: 0px;
}

body, html {
    width: 100%;
    height: 100%;
}

nav {
    padding: 16px;
}

.contain {
    height: calc(100% - 56px);
    padding: 20px 5% 0 5%;
}

.profile img  {
    border-radius: 50%;
    max-width: 100px;
    width: 100px;
    height: 100px;
    max-height: 100px;
    image-rendering: crisp-edges;
}

.profile {
    height: 100px;
    display: flex;
}

.information {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.name, .added {
    margin: 0px;
    padding: 0px;
}

.toolsSearch {
    margin-top: 25px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search {
    width: 33%;
    max-height: 46px;
    min-width: 150px;
}

.dropdown {
    float: right;
    box-sizing: border-box;
}

.containerTags {
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: flex;
    max-width: 16.666666%;
    margin-top: 15px;
    justify-content: center;
}

@media (max-width: 1919px) {
    .col {
        max-width: 20%;
    }
}

@media (max-width: 1599px) {
    .col {
        max-width: 25%;
    }
}

@media (max-width: 1279px) {
    .col {
        max-width: 33.333333%;
    }
}

@media (max-width: 959px) {
    .col {
        max-width: 50%;
    }
}

@media (max-width: 639px) {
    .col {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    #login  {
        display: none;
    }
}

@media (max-width: 420px) {
    .toolsSearch  {
        align-items: center;
        flex-direction: column-reverse;
    }

    .search {
        width: 229px;
        margin-bottom: 15px;
    }
}
