* {
    padding: 0px;
    margin: 0px;
}

body, html {
    width: 100%;
    height: 100%;
}

nav {
    padding: 16px;
}

.contain {
    height: calc(100% - 56px);
    padding: 20px 5% 0 5%;
}

.profile img  {
    border-radius: 50%;
    max-width: 100px;
    width: 100px;
    height: 100px;
    max-height: 100px;
    image-rendering: crisp-edges;
}

.tag_list {
    flex-wrap: wrap;
}

.profile {
    height: 100px;
    display: flex;
}

.information {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.name, .added {
    margin: 0px;
    padding: 0px;
}

.toolsSearch {
    margin-top: 25px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search {
    width: 33%;
    max-height: 46px;
    min-width: 150px;
}

.dropdown {
    float: right;
    box-sizing: border-box;
}


.containerTags {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-right: 5%;
}

.col {
    display: flex;
    max-width: 16.666666%;
    margin-top: 15px;
    justify-content: center;
}

.card-img-top {
    height: 286px;
}

#plus {
    width: 70px;
    height: 70px;
}

.addMem {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 50px;
    top: calc(100% - 90px);
    width: 70px;
    height: 70px;
    border: none;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    border-radius: 50%;
}

@keyframes small-button {
    50% {
        width: 64px;
        height: 64px;
        right: 53px;
        top: calc(100% - 87px);
    }
    100%{
        width: 70px;
        height: 70px;
        right: 50px;
        top: calc(100% - 90px);
    }
}

.dragAndDrop {
    position: fixed;
    display: flex;
    min-width: 500px;
    min-height: 500px;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 235, 222);
    left: calc(50% - 250px);
    bottom: calc(50% - 250px);
    font-size: 24px;
    border-radius: 25px;
    z-index: 1;
}

.placeDragAndDrop {
    background-color: rgba(27, 28, 27, 0.6);
    top: -56px;
    height: calc(100vh + 56px);
    width: 100vw;
    z-index: 1;
    position: fixed;
    visibility: hidden;
}

.button-animation {
    animation: small-button 125ms;
}

@media (max-width: 1919px) {
    .col {
        max-width: 20%;
    }
}

@media (max-width: 1599px) {
    .col {
        max-width: 25%;
    }
}

@media (max-width: 1279px) {
    .col {
        max-width: 33.333333%;
    }
}

@media (max-width: 959px) {
    .col {
        max-width: 50%;
    }
}

@media (max-width: 639px) {
    .col {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    #login  {
        display: none;
    }
}

@media (max-width: 420px) {
    .toolsSearch  {
        align-items: center;
        flex-direction: column-reverse;
    }

    .search {
        width: 229px;
        margin-bottom: 15px;
    }
}
.mem_file {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

#avatar_area {
    cursor: pointer;
}

.send_image {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}
.avatar_file {
    display: none;
}

.card_views {
    float: right;
}
.view_panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
#card_action_open {
    margin-bottom: 15px;
}

.tag_list {
    display: flex;
    align-items: flex-end;
}
.tag_view {
    border: initial;
    background-color: initial;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 6px;
    background-color: #f07575;
    border-radius: 8px;
    margin-right: 4px;
}

.tag_view:hover {
    transform: scale(1.09);
    background-color: #f55c5c;
}

.message {
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}