* {
    padding: 0px;
    margin: 0px;
}

.search {
    width: 33%;
    max-height: 46px;
    min-width: 150px;
}

.dropdown {
    float: right;
    box-sizing: border-box;
}

.card-img-top {
    height: 286px;
    object-fit: cover;
}

.contain {
    height: calc(100% - 56px);
    padding: 20px 5% 0 5%;
}

.toolsSearch {
    margin-top: 25px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
}

.containerTags {
    display: flex;
    flex-wrap: wrap;
}


.col {
    display: flex;
    max-width: 16.666666%;
    margin-top: 15px;
    justify-content: center;
}

.mem_file {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.send_image {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

@media (max-width: 1919px) {
    .col {
        max-width: 20%;
    }
}

@media (max-width: 1599px) {
    .col {
        max-width: 25%;
    }
}

@media (max-width: 1279px) {
    .col {
        max-width: 33.333333%;
    }
}

@media (max-width: 959px) {
    .col {
        max-width: 50%;
    }
}

@media (max-width: 639px) {
    .col {
        max-width: 100%;
    }
}

@media (max-width: 420px) {
    .toolsSearch  {
        align-items: center;
        flex-direction: column-reverse;
    }

    .search {
        width: 229px;
        margin-bottom: 15px;
    }
}

.card_views {
    float: right;
}
.view_panel {    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}
#card_action_open {
    margin-bottom: 15px;
}

.tag_list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.tag_view {
    border: initial;
    background-color: initial;
    margin-top: 8px;
    margin-bottom: 8px;

}


.message {
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}