.container {
    display: flex;
    height: calc(100% - 56px);
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

form {
    width: 650px;
    max-width: 650px;
}

.text-header {
    text-align: center;
}
.buttons {
    text-align: center;
}
.btn-sign-in {
    margin-top: 8px;
}
button {
    margin-top: 8px;
}
.btn-forgot {
    margin-top: 8px;
}

@media (max-width: 992px) {
    #login  {
        display: none;
    }
}