
.container {
    height: calc(100% - 56px);
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container p.text-center{
    font-size: 24px;
    font-weight: 500;
}

.container p.text-start {
    font-size: 13px;
    margin-bottom: 6px;
}

.container input {
    margin-bottom: 16px;
}

.container a {
    display: block;
    text-align: center;
}

.container div a {
    font-size: 13px;
    text-decoration: none;
}

.button-wrapper{
    display: flex;
    justify-content: center;
    padding: 6px 0px;
}

form {
    width: 650px;
    max-width: 650px;
}

input:required:valid {
  border-color: green;
}

input:required:invalid {
  border-color: orange;
}

input:required:focus:valid {
  border-color: lightgreen;
  background-size: 25px;
}
input:focus:invalid {
  border-color: red;
  background-size: 25px;
}

@media (max-width: 992px) {
    #login  {
        display: none;
    }
}